*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    padding: 1rem 5.5rem;
    height: 65px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;

}
.navbar img{
    height: 50px;
    cursor: pointer;
}
.menu button{
    width: 11vw;
    border-radius: 12px 11px;
    height: 3.2rem;
    cursor: pointer;
    transition-duration: 2s;
    transition-property:background-color;
    transition-delay: 0.5ms;
    transition-timing-function: ease-in-out;
}
.menu button:hover{
    background-color: #B9FF66;
    color: black;
}
.menu{
    display: flex;
    gap: 3vw;
}
.menu h4{
    padding-top: 1rem;
    cursor: pointer;
    transition-duration: 1s;
    transition-property: color;
    transition-delay: 1ms;
    transition-timing-function: ease-in-out;
}
.menu h4:hover{
    color: #B9FF66;
}
.contant{
    display: flex;
    height: calc(100% - 65px);
}
.main-contant{
    width: 50%;
    padding: 5.9rem;
}
.image{
    width:50%;
}
.image img{
    height: 400px;
   margin-top: 1rem;
    padding-left: 4rem;
    padding-top: 5rem;
    height: 400px;
}
.main-contant button{
    margin-top: 2rem;
    border-radius: 12px;
    width: 14vw;
    height: 3.4rem;
    font-size: 1rem;
    background-color: black;
    color: white;
    cursor: pointer;
    transition-duration: 1s;
    transition-property:background-color;
    transition-delay: 0.5ms;
    transition-timing-function: ease-in-out;
}
.main-contant button:hover{
    background-color: #B9FF66;
    color: black;
}
.main-contant p{
    padding-top: 2.4rem;
}
.footer{
    margin-right: 2rem;
    gap: 7.5rem;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
}
.footer img{
 filter: grayscale(100%);   
 cursor: pointer;
 transition-duration: 2s;
 transition-delay: 0s;
 transition-timing-function: ease-in-out;
 transition-property: grayscale;
}
.footer img:hover{
    filter: grayscale(0%);
}